* {
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

#container {
	margin: 0 auto;
	border: 1px solid black;
}

.pixel {
	margin: 0;
	float: left;
	border: 0 dotted gray;
}